// #5 responsive with @content in scss

$breakpoints: (
  tablet: 576px,
  laptop: 992px,
  desk: 1440px,
);




@mixin responsive($key) {
  @if map-has-key($breakpoints, $key) {
    @media screen and (min-width: map-get($breakpoints, $key)) {
      @content;
    }
  } @else {
    @media screen and (min-width: $key) {
      @content;
    }
  }
} 